PORT=3000

# Application Database
DB_HOST=localhost
DB_PORT=3306
DB_NAME=realtime_orders
DB_USER=realtime_app
DB_PASSWORD=your_password

# CDC / Binlog
CDC_DB_HOST=127.0.0.1
CDC_DB_PORT=3306
CDC_DB_USER=cdc_user
CDC_DB_PASSWORD=your_password